.service-grid article.has-service-image {
  background-position: center;
  background-size: cover;
  transition: filter .25s, transform .45s;
}

.service-grid article.has-service-image:hover {
  filter: brightness(1.12);
}
